@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700;900&display=swap');


@font-face {
  font-family: 'Esphimere';
  src: url('../fonts/EsphimereExtraLight.otf');
}



body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
