@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  transition: all 0.2s;
  scrollbar-width: none; }
  @media only screen and (max-width: 90em) {
    html {
      font-size: 50%; } }

body {
  width: 100%;
  background-color: #0c1421;
  font-family: "Esphimere", sans-serif;
  font-weight: 300;
  line-height: 1.6; }
  body::-webkit-scrollbar {
    display: none; }
    @media only screen and (max-width: 57em) {
      body::-webkit-scrollbar {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }

button {
  cursor: pointer; }

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }

@font-face {
  font-family: 'Esphimere';
  src: url("../fonts/EsphimereExtraLight.otf"); }

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.app-background {
  width: 100%;
  height: 100%; }

.base-button {
  min-width: 15rem;
  border: 0.15rem solid #929db6;
  border-radius: 1rem;
  background: transparent;
  color: #929db6;
  padding: 1rem 1.5rem;
  margin: 2.8rem;
  font-family: "Esphimere", sans-serif;
  font-size: 2.8rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  transition: all 0.15s ease-in; }
  .base-button:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0rem 0rem 1rem #00a2ff;
    text-shadow: 0rem 0rem 1rem #00a2ff; }
  @media only screen and (max-width: 48em) {
    .base-button {
      min-width: 15rem;
      padding: .8rem 1.2rem;
      margin: 2.8rem;
      font-size: 2rem;
      letter-spacing: 0.5rem; } }

.error {
  align-self: center;
  z-index: 10; }
  .error_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .error_code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .error_code-number {
      display: flex; }
      .error_code-number h1 {
        font-size: 35rem;
        font-family: "Teko", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 26rem;
        text-shadow: 0.3rem 0.8rem 0.1rem #00a2ff; }
        @media only screen and (max-width: 57em) {
          .error_code-number h1 {
            font-size: 23rem;
            line-height: 26rem;
            text-shadow: 0.3rem 0.8rem 0.1rem #00a2ff; } }
      .error_code-number--1 {
        color: #3f4a5e;
        z-index: 10;
        transform: translateX(4rem); }
      .error_code-number--2 {
        color: #970101;
        z-index: 20; }
      .error_code-number--3 {
        color: #3f4a5e;
        z-index: 30;
        transform: translateX(-4rem); }
      @media only screen and (max-width: 57em) {
        .error_code-number--1 {
          transform: translateX(2.55rem); }
        .error_code-number--3 {
          transform: translateX(-2.55rem); } }
    .error_code h2 {
      font-size: 8rem;
      font-family: "Esphimere", sans-serif;
      color: #fff;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 10rem; }
      @media only screen and (max-width: 48em) {
        .error_code h2 {
          font-size: 6rem; } }
    .error_code p {
      color: #929db6;
      font-family: "Teko", sans-serif;
      font-size: 5.5rem;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      line-height: 6rem; }
      @media only screen and (max-width: 48em) {
        .error_code p {
          font-size: 4rem; } }
  .error_actions {
    display: flex; }
